<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://10.224.68.128:8888/ios/download/app/vms.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://10.224.68.128:8888/ios/download/img/vms57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://10.224.68.128:8888/ios/download/img/vms512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.deppon.vmsapi</string>
				<key>bundle-version</key>
				<string>0.0.0.4</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>车队</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
